// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #dc5945;

// ----------------------------------------------------------------------------
// Widget-clock styles
// ----------------------------------------------------------------------------
.widget-clock {

  background-color: $background-color;

  h1 {
    font-size: 20px;
    vertical-align: middle;
  }

  h2 {
    font-size: 40px;
    font-weight: bold;
  }

}
