<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  Dashing.gridsterLayout('[{"col":3,"row":2,"size_x":1,"size_y":1},{"col":1,"row":1,"size_x":1,"size_y":1},{"col":2,"row":3,"size_x":2,"size_y":1},{"col":2,"row":4,"size_x":1,"size_y":1},{"col":3,"row":1,"size_x":1,"size_y":1},{"col":1,"row":3,"size_x":1,"size_y":2},{"col":3,"row":4,"size_x":1,"size_y":1},{"col":2,"row":1,"size_x":1,"size_y":1},{"col":1,"row":2,"size_x":2,"size_y":1}]')
  Dashing.widget_base_dimensions = [335, 335]
  Dashing.numColumns = 3
});
</script>


<% content_for :title do %>Railslove Dashboard<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="icon-time icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image="/logo.png"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="hellotab" data-view="Hellotab" data-background_color="#2388ff" data-body="Hello"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="leaves" data-view="Timetastic" data-title="Vacations" style="background-color:#EE6633"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="freckle" data-view="Meter" data-title="Hours" data-min="0" data-max="105"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="users" data-view="Timetastic" data-unordered="true" data-title="In da House" data-moreinfo="# who is in the office"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="salesking" data-view="Number" data-title="Moneyz" style="background-color:#96bf48;"></div>
      <i class="icon-bullseye icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="servers" data-view="Text" data-title="Servers down?" style="background-color:#47bbb3;"></div>
      <i class="icon-bolt icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Comments" style="background-color:#ff9618;" data-moreinfo="Tweets tagged with #railslove"></div>
      <i class="icon-twitter icon-background"></i>
    </li>

  </ul>
</div>
